/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for BODY */
body {
    background-color: rgb(129, 129, 129);
    margin: 0; /* Brukes for å få navigasjonsbaren helt ut til kantene */

}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for h1, h2, p TEXT */
h1 {
  text-align: center;
  font-size: 16px; color: rgb(32, 32, 32);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-size: 13px; color: rgb(32, 32, 32);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
p {
  text-align: center;
  font-size: 12px; color: rgba(99,112,126);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 14%;
  padding-right: 14%;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for BAKGRUNN */

/* -> Bakgrunn for default, login, registrer: */
/* --------------------------------------------- */
.bakgrunn {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  background-color: rgba(242,246,245);
}

/* -> Bakgrunn for backend: */
/* --------------------------- */
.bakgrunnBackend {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  
}

.uklarhetBackend {
  /* Bakgrunnsverdier */
  background-image: linear-gradient(to right, rgba(0, 236, 165, 0.8) 0%, rgba(39, 139, 109, 0.8) 50%, rgb(0, 146, 102) 90%);
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(20px);

  
  /* Posisjonering og fjerning av kanter */
  top: -70px;
  right: -70px;
  left: -70px;
  padding: 70px;
}
/* Gjør blur finere */
.uklarhetBackend:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(-19deg, rgba(0, 160, 112, 0.8) 0%, rgba(0, 190, 133, 0.8) 50%, rgb(0, 255, 179) 90%);
  filter: blur(60px);
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for LOGIN/REGISTRER */
.RegInnFelt {
    display: block;
    margin-left: auto; margin-right: auto;
    margin-top: 3%;
    padding: 15px;
    width: 35%;
    font-size: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.096);
}
.RegInnFelt_knappRegistrer {
  display: block;
  margin-left: auto; margin-right: auto;
  margin-top: 3%;
  padding: 15px;
  width: 38.72%;
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.096);
}

.RegInnFelt_knappLogginn {
  display: block;
  margin-left: auto; margin-right: auto;
  margin-top: 3%;
  padding: 15px;
  width: 38.72%;
  font-size: 32px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.096);
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for NAVIGASJONSMENY */
.navTop {
  padding-top: 2%; padding-bottom: 2%;
  background-color: rgba(200,218,211);
  box-shadow: 0px 10px 8px -8px rgba(99,112,126);
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  
}
.navTop #logginnKnapp {
  margin-left: 55%;
  margin-right: 1%;

}
.navTop #registrerKnapp {
  margin-left: 70%;
  margin-right: 1%;

}
.navTop #singelLogginnKnapp {
  margin-left: 70%;
  margin-right: 1%;
}
.navTop .hamburgerKnapp {
  margin-left: 3%;
  margin-top: 1.2%;
  width: 60px;
  position: absolute;
}

.navTop button {
  background: rgb(249,249,249);
  background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(255,255,255,1) 100%);
  border-radius: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 85px; width: 130px; 
}

.Logo_navmeny {
    left: 1%;
    top: 0.5%;
    margin-left: 1%;
    width: 100px;
    position: absolute;
}
.Logo_forside {
    padding-top: 10%; 
    margin-bottom: 10%; 
    /* border: 1px solid white; */
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navTop .profil_navmeny {
  /*right: 15%;*/
  top: 0.5%;
  margin-left: 1%;
  width: 100px;
  position: absolute;
  border-radius: 50%;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for DEFAULT/Uregistrerte brukere */
#artikkel1, #artikkel2, #artikkel3, #artikkel4 {
  background-color: #F8F7FD;
  padding-bottom: 15px;
  margin: 10px;
  border-radius: 10px 10px 25px 25px;
  
}

#default_main {
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 14px;
  border-radius: 10px 10px 25px 25px;
  background-color: rgba(175, 175, 175, 0.1);
}

#default_main article h2 {
  color: rgba(99,112,126);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(147,181,179);
  border-radius: 10px 10px 0px 0px;
}


#default_main article p {
  font-size: 5px; color: rgba(99,112,126);

}


/* Style for BACKEND/Innloggede brukere */

.profil_backend {
  margin-top: 10%; 
  margin-bottom: 10%; 
  /* border: 1px solid white; */
  width: 250px;
  margin-left: 5em;
  border-radius: 50%;
}

.velkomst {
  margin-right:20%;
  margin-top: 20%;
  float: right;
  font-size: 30px;
  color: rgb(22, 22, 22);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sone {
  border: 1px solid black;
  width: 50%;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  
}



.bgcont p {
  font-size: 28px; color: rgb(29, 28, 27);
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

.bgcont {
  color: rgb(92, 92, 92);
  padding-bottom: 10px;
  background-color: rgb(252, 252, 252);
  border-radius: 10px 10px 25px 25px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}



.bgcont h2 {  
  color: rgb(8, 8, 8);
  padding-top: 10px;  
  padding-bottom: 10px;  
  background-color: rgb(94, 94, 94);
  width:100%; 
  position:center;
  text-align: center;
  font-size: 35px; color: rgb(29, 28, 27);
  /* border: 1px solid white; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  border-radius: 10px 10px 0px 0px;
}

#backendLoggUt {
  margin-left: 60%;
}

.navTop .hamburgerKnappBackend {
  margin-left: 14%;
  margin-top: 1.2%;
  width: 60px;
  position: absolute;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for DROPDOWN HAMBURGERMENY */

.hamburgerMeny {
  height: 0%; width: 100%;
  position: fixed;
  z-index: 2; /* Skal være over alle andre elementer */
  left: 0; top: 0;
  background-color: rgb(0,0,0); /* Bakgrunnsfarge uten gjennomsiktighet, om den under ikke går */
  background-color: rgba(0,0,0, 0.9); /* Bakgrunnsfarge med gjennomsiktighet */
  overflow-y: hidden; /* Passer på at scrollbaren ikke vises selv */
  transition: 0.5s; /* Antall sekunder det tar fra man trykker på menyen tils den er ferdig åpnet */
}

/* Innholdet i menyen */
.hamburgerInnhold {
  position: relative;
  top: 25%; width: 100%; text-align: center; /* Ønsker at det skal vises mot midten av skjermen */
  margin-top: 30px; /* Sørger for at det ikke blir noen konflikt med knappen for å lukke menyen */
}

/* Selve lenkene, innhold i menyen */
.hamburgerMeny a {
  padding: 8px;
  text-decoration: none;
  font-size: 65px;
  color: #818181;
  display: block;
  transition: 0.3s; /* Effekt når man trykker på knappen */
}

.hamburgerKnapp:hover{
  cursor:url(hand.cur), pointer;
}

.hamburgerKnappBackend:hover{
  cursor:url(hand.cur), pointer;
}

/* Hvor knappen for å lukke menyen ender opp */
.hamburgerMeny .lukkHamburger {
  position: absolute;
  top: 18px; right: 50px;
  font-size: 60px;
  background-color: rbg(0,0,0,0.1);
  color: grey;
  border: none;
}

.hamburgerMeny button:focus {
  outline: 0;
}

.hamburgerMeny button:hover {
  color: rbg(165,165,165);
  cursor: url(hand.cur), pointer;
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Media queries */

/* Små telefoner */
@media screen and (min-device-width: 320px) and (orientation: portrait) {
  header .Logo_forside {
    width: 15%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  .navTop {
    padding-bottom: 1%;
  }
  header .defaultP {
    padding-left: 4%;
    padding-right: 4%;
  }
  .navTop button {
    font-size: 19px;
    height: 70px;
  }
  .navTop .hamburgerKnapp {
    top: 12px;
  }
  .navTop .hamburgerKnappBackend{
    top:12px;
  }
  .navTop #logginnKnapp {
    margin-left: 55%;
    margin-right: 1%;

  }
  .navTop #registrerKnapp {
    margin-left: 70%;
    margin-right: 1%;
  }

  #default_main article h2 {
    font-size: 12px;
  }

  #default_main article p {
    padding-left: 10%;
    padding-right: 10;
    font-size: 12px;
  }
  .navTop .profil_navmeny {
    margin-top: 13px;
    width: 80px;
  }
  .backend_header {
    margin-top: 30px;
  }
}

/* Medium telefoner */
@media screen and (min-device-width: 375px) and (orientation: portrait) {
  header .Logo_forside {
    margin-bottom: 5%;
  }

  #default_main article h2 {
    font-size: 11px;
  }

  #default_main article p {
    font-size: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }
  #default_main article {
    margin-bottom: 10%;
  }
}

/* Store telefoner */
@media screen and (min-device-width: 414px) and (orientation: portrait) {
  header .Logo_forside {
    width: 200px;
  }
  #default_main article h2 {
    font-size: 18px;
  }
  #default_main article p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  header .defaultP {
    font-size: 18px;
    margin-bottom: 2%;
  }
  #default_main article {
    margin-bottom: 2%;
  }
}

/* Landskap. Tilsynelatende effektiv på de fleste mobiler. */
@media screen and (min-device-width: 320px) and (orientation: landscape) {
  header .Logo_forside {
    width: 10%;
    margin-bottom: 2%;
    padding-top: 10%;
  }
  #default_main article h2 {
    font-size: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  #default_main article p {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 50%;
  }
  #default_main {
    column-count: 2;
  } 
  #artikkel3 {
    break-before: column;
  }
  .bgcont h2{
    font-size: 15px;
  }
  .bgcont p{
    font-size: 15px;
  }
  .profil_backend {
    width:110px;
    left: 7%;
    margin-top: 9%;
    position: absolute;
  }
  .backend_header h1 {
    font-size: 20px;
  }
  .velkomst {
    margin-left:30%;
    margin-top: 13.5%;
    font-size: 30px;
    position: absolute;
    float: none;
    
  }
  .navTop .hamburgerKnappBackend{
    top: 0px;
    margin-left: 10%;
  }
  .navTop .hamburgerKnapp {
    top: 3px;
    margin-left: 5%;
  }
  .navTop .profil_navmeny {
    margin-top: 10px;
   /*right: 10%;*/
    top: 0.5%;
    width: 60px;
  }
  .navTop .Logo_navmeny {
    width: 70px;
    top: 5px; 
  }
  .navTop button {
    font-size: 19px;
    height: 50px;
  }
  .navTop {
    height: 60px;
    padding-bottom: 0%;
  }
  #backendLoggUt {
    margin-left: 69%;
  }
  #backend_main {
    padding-top:20%;
    
  }
}

/* Ipad mini/pro portrett og landskap */
@media screen and (min-device-width : 768px) {
  /* Styles portrett*/
  header .Logo_forside {
    width: 30%;
  }
  #default_main article h2 {
    font-size: 30px;
  }
  #default_main article p {
    font-size: 23px;
  }

  #default_main {column-count: 2;
    flex: 50%;
  }
  #artikkel3 {
    break-before: column;
  }
}

@media screen and (min-device-width : 768px)  and (orientation : landscape) {
  /* Styles landskap */
  header .Logo_forside {
    width: 20%;
    margin-top: 5%; 
    margin-bottom: 5%;
  }
  #default_main article h2 {
    font-size: 20px;
  }
  #default_main article p {
    font-size: 15px;
  }
  #default_main {column-count: 2;
  }
  #artikkel3 {
    break-before: column;
  }
  #backendLoggUt {
    margin-left: 69%;
    height: 60px;
  }
  #backend_main {
    padding-top: 25%;
  }
}


/* Laptop */
@media screen and (min-width: 1024px) {
  header .Logo_forside {
    width: 10%;
    padding: 55px 0px 0px 0px;
    margin: 0% 0% 0% 45%;
  }    

  #default_main {
    margin-left: 15%;
    margin-right: 15%;

  }
  
  #default_main article h2 {
    font-size: 10px;
  }
  
  
  #default_main article p {
    font-size: 10px;
  
  }
  .navTop {
    padding-top: 10px; 
    padding-bottom: 10px;
    height: 30px;
  }

  .navTop button {
    height: 30px;
    font-size: 16px;
  }

  .navTop #logginnKnapp {
    margin-left: 72%;
  }
  .navTop .hamburgerKnapp {
    margin-left: 2%;
    margin-top: 0.5%;
    width: 30px;
  }

  .hamburgerMeny a {
    font-size: 50px
  } 
  #backendLoggUt {
    margin-left: 78%;
    height: 30px;
  }
  .navTop .Logo_navmeny {
    width: 50px;
    top: 0px; 
  }

  .navTop .Logo_navmeny:hover {
    cursor: url(hand.cur), pointer;
  }

  .navTop .profil_navmeny {
    margin-top: 5px;
    /*right: 5.5%;*/
    width: 40px;
  }
  .navTop .hamburgerKnappBackend{
    margin-top: 10x;
    margin-left: 5%;
    width: 30px;
  }

  body {
	  background-color: #505050;
    }
    .navTop button {
        transition-duration: 0.3s;
    }
    .navTop button:hover {
        color: rgb(165, 165, 165);
    }
    /* Når du har musen over, endre farge */
    .hamburgerMeny a:hover, .hamburgerMeny a:focus {
      color: #f1f1f1;
  }
}

/* Stor laptop, medium desktop */
@media screen and (min-width: 1440px) {
  #default_main article h2 {
    font-size: 15px;
  }

  #default_main article p {
    font-size: 12px;
  }
  header .defaultP {
    font-size: 20px;
  }
  .navTop #logginnKnapp {
    margin-left: 74%;
    margin-right: 1%;
  }
  .Logo_navmeny {
    top: 0.5%;
    
}
}

/* Stor skjerm */
@media screen and (min-width: 2560px) {
  header .Logo_forside {
    width: 10%;
    margin-top: 2%; 
    margin-bottom: 5%;
  }
  #default_main {column-count: 2;
  }
  #artikkel3 {
    break-before: column; 
  }
  #default_main article h2 {
    font-size: 25px;
  }
  #default_main article p {
    font-size: 25px;
  }
  .navTop {
    padding-top: 0.5%; 
    padding-bottom: 0.5%;
  }
  .navTop #logginnKnapp {
    margin-left: 83%;
    margin-right: 1%;
  }
  .navTop .hamburgerKnapp {
    margin-left: 1%;
    margin-top: 0.0%;
  }
}

@media print {
  .navTop {
    display: none;
  }
  
  .Logo_navmeny {
    display: none;
  }

  .profil_backend {
    width: 100px;
    margin-left: 43%;
  }

  .velkomst {
    display: none;
  }
  
  .Logo_forside {
    width: 100px;
  }

  #backend_main article h2 {
    font-size: 16px;
  }

  #backend_main article p {
    font-size: 14px;
  }

  #default_main article h2{
    font-size: 16px;
  }

  #default_main article p {
    font-size: 14px;
  }

  .defaultP {
    font-size: 14px;
  }

  a::after {
    content: " (" attr(href) ") ";
  }

}
 


  
/*
@media screen and (max-height: 450px) {
  .hamburgerMeny a {font-size: 20px}
  .hamburgerMeny .lukkHamburger {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
*/

/* Denne siden er utviklet av Ben Redic Fy Fazan, siste gang endret 21.04.1973 */
/* Denne siden er kontrollert av Reodor Felgen, siste gang 25.05.1975 */