/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for BODY */
body {
  background-color: rgb(242, 246, 245); /* Universale bakgrunnsfargen */
  margin: 0; /* Brukes for å få navigasjonsbaren helt ut til kantene */

}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for h2, p TEXT */

h2 {
  text-align: center; /* Sentrerer h2 */
  font-size: 1em; color: rgb(44, 44, 44); /* Font-størrelse og farge */
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* Ønsket font-type */
  text-transform: uppercase; /* Transformerer teksten til UCASE */
}
p {
  font-size: 1em; color: rgb(44,44,44); /* Font-størrelse og farge */
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; /* Ønsket font-type */
  padding-left: 3.5em; /* Padding for å få plass på hver side */
  padding-right: 3.5em;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for LOGIN/REGISTRER */
.innloggForm {
  max-width:250px;margin:auto; /* Sentrerer innloggingsformen og angir en bredde */
}
.inputBoks {
  display: flex; /* Legger ikonene og inputfeltene ved siden av hverandre*/
  width: 100%; /* Angir bredde for inputfeltene  */
  margin-bottom: 1em; /* Lager luft under hver inputfelt */
}
.icon {
  padding: 0.5em 0.5em 0.5em 0.5em; /* Posisjonerer ikonet i selve boksen */
  background: rgb(126, 155, 153); /* Angir bakgrunnsfarge for boksen rundt ikonet */
  color: white; /* Angir farge for ikonet */
  min-width: 2em; /* Angir minimums bredde for elementet */
  text-align: center; /* midtstiller ikonet i boksen */
  border-radius: 0.4em 0em 0em 0.4em; /* Runder ut hjørnene */
}
.RegInnFelt {
  width: 100%; /* Angir bredde for inputfeltene */
  padding: 10px; /* legger */
  border-radius: 0em 0.4em 0.4em 0em; /* Runder ut hjørnene */
}

.RegInnFelt_knappRegistrer {
  background-color: rgb(126, 155, 153); /* bakgrunnsfarge for registrerknapp */
  color: white; /* tekstfarge */
  padding: 1.2em; /* hvor mye luft rundt teksten det skal være */
  font-weight: bold; /* Fet tekst */
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; /* font-type */
  border: none; /* Fjerner ytrelinjen rundt knappen */
  width: 100%; /* Angir bredde på knappen */
  border-radius: 0.4em; /* Runder ut knappen */
  font-size: 1.0em; /* Font-størrelse */
}

.RegInnFelt_knappLogginn {
  background-color: rgb(126, 155, 153); /* bakgrunnsfarge for registrerknapp */
  color: white;  /* tekstfarge */
  padding: 1.2em; /* hvor mye luft rundt teksten det skal være */
  font-weight: bold; /* Fet tekst */
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; /* font-type */
  border: none; /* Fjerner ytrelinjen rundt knappen */
  width: 100%; /* Angir bredde på knappen */
  border-radius: 0.4em; /* Runder ut knappen */
  font-size: 1.0em; /* Font-størrelse */
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for NAVIGASJONSMENY */
.navTop {
  background-color: rgb(200,218,211); /* Bakgrunnsfarge for navigasjonsbaren */
  box-shadow: 0 0.1em 0.4em 0em rgb(99,112,126); /* Skygge under navigasjonsbaren */
  position: fixed; /* Holder navigasjonsbaren øverst i vinduet til enhver tid */
  z-index: 1; /* Passer på at navigasjonsbaren havner over annet innhold på siden */
  width: 100%; /* Skal gå over hele siden */
}
.navTop #logginnKnapp {
  margin-top: 1em;
  margin-right: 0.2em; /* Litt mellomrom mellom LOGG INN og REGISTRER knappen i default */
  float: right;
}
.navTop #registrerKnapp {
  margin-top: 1em;
  float: right;
}
.navTop .singelKnapp {
  margin-top: 1em;
  float: right;
}
.navTop .hamburgerKnapp {
  margin-left: 0.6em; /* Mellomrom mellom hamburgerknappen og knappen til venstre */
  margin-right: 0.6em; /* Mellomrom mellom hamburgerknappen og kanten til høyre */
  margin-top: 0.7em;
  width: 2.8em; /* Bestemmer størrelsen på hamburgerknappen */
  float: right;
}
.navTop button {
  background-color: transparent;
  border: none;
  border-radius: 0.4em; /* Runder ut knappen */
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif; /* Font familie */
  font-size: 0.8em; /* Font-størrelse */
  font-weight: bold; /* Fet tekst */
  height: 3.0em; width: 6.0em; /* Endrer størrelsen på alle knappene i navigasjonsbaren */
}

.navTop button:focus {
  outline: 0; /* Fjerner blå outline når knappen er trykt */
}

.Logo_navmeny {
  width: 4em; /* Bestemmer størrelsen på logoen */
  padding-left: 1em;
}

.navTop .profil_navmeny {
  margin-top: 0.5em; /* Plassering av profilbilde på navigasjonsmenyen når man er på backend */
  margin-left: 0.7em; /* Mellomrom mellom profilbilde og LOGG UT knappen */
  width: 3em; /* Bestemmer størrelsen på profilbildet */
  float: right;
  border-radius: 50%; /* For å runde av profilbildet */
}
#backendLoggUt {
  margin-top: 1em;
  float: right;
}
/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for DEFAULT/Uregistrerte brukere */
.Logo_forside {
  padding-top: 6em; /* Plassering av logoen på default */
  margin-bottom: 2em; /* Mellomrom mellom logo og element under */
  width: 6em; /* Bestemmer størrelsen på logoen */
  display: block; /* Brukes for at logoen blir sentrert */
  margin-left: auto; /* Brukes for å plassere logoen sentrert */
  margin-right: auto;
}
#artikkel1, #artikkel2, #artikkel3, #artikkel4 {
  background-color: #F8F7FD; /* Bakgrunnsfarge i artikkel-containerne i default */
  padding-bottom: 1em; /* Utvider innholdet i containerne for å skape luft for tekst */
  margin: 0.5em; /* Mellomrom mellom containerne og den yttre boksen */
  border-radius: 1em 1em 1.5em 1.5em; /* Avrunder kantene */
}

#default_main {
  margin-bottom: 1.4em; /* Skaper mellomrom mellom den yttre boksen og main */
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 0.6em; /* Mellomrom mellom den yttre boksen og main */
  border-radius: 1em 1em 1.5em 1.5em; /* Avrunder kantene */
  background-color: rgba(175, 175, 175, 0.1); /* Bakgrunnen på containerne */
}

#default_main article h2 {
  color: rgb(44,44,44); /* Fargen på tittelene i containerne */
  margin-top: 1em;
  padding-top: 0.8em; /* Forstørrer containerne litt for å skape luft for tekst */
  padding-bottom: 0.8em;
  background-color: rgb(147,181,179); /* Fargen på bakgrunnen i tittel-containerne */
  border-radius: 1em 1em 0 0; /* Avrunder tittel-containeren */
}


#default_main article p {
  font-size: 1em; color: rgb(44,44,44); /* Font-størrelse på paragraf i containerne */
  padding-left: 1.5em; /* Padding for å få plass på hver side */
  padding-right: 1.5em;

}

/*-----------------------------------------------------------------------------*/
/* Style for BACKEND/Innloggede brukere */

.profil_backend {
  width: 7em; /* Bestemmer størrelse på profilbilde */
  border-radius: 50%; /* Avrunder profilbildet */
}

.velkomst {
  font-size: 1em; /* Bestemmer font-størrelse */
  color: rgb(44,44,44); /* Farge på fonten */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.backend_header {
  padding-top: 6em; padding-bottom: 1em;
  text-align: center;
}


.bgcont p {
  font-size: 1em; color: rgb(44, 44, 44);
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 1.5em; /* Padding for å få plass på hver side */
  padding-right: 1.5em;
  
}

.bgcont {
  color: rgb(44, 44, 44); /* Bakgrunnsfarge i containere i backend */
  padding-bottom: 0.6em;
  background-color: rgb(252, 252, 252);
  border-radius: 1em 1em 1.5em 1.5em; /* Avrunder kantene */
  width: 18em; /* Størrelse på container på backend */
  margin-left: auto;
  margin-right: auto;
}

.bgcont h2 {  
  color: rgb(44,44,44); /* Tittel på containerne i backend */
  padding-bottom: 0.8em; padding-top: 0.8em;
  background-color: rgb(147,181,179);
  text-align: center; /* Plasserer teksten midt i tittel-containern */
  font-size: 1em; color: rgb(44,44,44);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase; /* Transformerer tekster til UCASE */
  border-radius: 10px 10px 0px 0px; /* Avrunder tittel-containern */
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Style for DROPDOWN HAMBURGERMENY */

.hamburgerMeny {
  height: 0%; width: 100%; /* Height 0% da den ikke skal vises før vi kjører JavaScript funksjonen for å åpne hamburgermenyen */
  position: fixed;
  z-index: 2; /* Skal være over alle andre elementer */
  left: 0; top: 0; /* Sørger for at vinduet dukker opp over navigasjonsbaren og går helt ut i kanten */
  background-color: rgb(200,218,211); /* Bakgrunnsfarge uten gjennomsiktighet, om den under ikke går */
  overflow-y: hidden; /* Uten denne vises innholdet til hamburgermenyen til enhver tid */
  transition: 0.5s; /* Antall sekunder det tar fra man trykker på menyen tils den er ferdig åpnet */
}

/* Innholdet i menyen */
.hamburgerInnhold {
  position: relative; /* Relativ plassering av innholdet i hamburgermenyen */
  top: 4em; width: 100%; text-align: center; /* Ønsker at det skal vises mot midten av skjermen */
}

/* Selve lenkene, innhold i menyen */
.hamburgerMeny a {
  padding: 0.25em; /* Mellomrom mellom lenkene i hamburgermenyen */
  text-decoration: none; /* Fjerner understreker fra linkene */
  font-size: 1.8em; /* Font-størrelse */
  color: #000000; /* Fargen på lenkene i hamburgermenyen */
  display: block; /* Sørger for at lenkene kommer under hverandre */
  transition: 0.3s; /* Effekt når man trykker på knappen */
}

/* TODO Flytt i media queries, trenger ikke hover på mobile first */


/* Hvor knappen for å lukke menyen ender opp */
.hamburgerMeny .lukkHamburger {
  margin-left: 85%;
  margin-top: 0.1em;
  position: absolute;
  font-size: 3.5em; /* Font-størrelse da krysset er teksten "&times;" */
  background-color: rgb(200,218,211); /* Fjerner bakgrunnen knappen */
  color: rgb(0, 0, 0);
  border: none; /* Fjerner border rundt knappen */
}

.hamburgerMeny button:focus {
  outline: 0; /* Fjerner blå outline når knappen er trykt */
}

/*---------------------------------------------------------------------------------------------------------------------------------------------*/
/* Media queries */
 

/* Medium telefoner */
@media screen and (min-device-width: 375px) and (orientation: portrait) { /* Høyeste query som treffer gjelder, derav bare bruk av minimumsvidde */
}

/* Store telefoner */
@media screen and (min-device-width: 414px) and (orientation: portrait) {
}

/* Ipad mini/pro portrett og landskap */
@media screen and (min-device-width : 720px) and (orientation: landscape) {
  #default_main {
    column-count: 2; 
  }
  #artikkel3 {
    break-before: column;
  }
}

/* Laptop, 720p */
@media screen and (min-width: 1280px) {
  /* Når musen er over Logginn/registrer/loggut, vis pointer-mus */
  .navTop button:hover {
    color: rgba(44, 44, 44, 0.651);
    cursor: pointer;
  }
  /* Når musen er over hamburgermenyen, vis pointer-mus */
  .hamburgerMeny button:hover {
    color: rgb(165,165,165);
    cursor: pointer;
  }
  /* Når mus er over hamburgermeny, hvis pointer-mus */
  .hamburgerKnapp:hover{
    cursor: pointer;
  }

  /* Når mus er over hamburgermeny i backend, hvis pointer-mus */
  .hamburgerKnappBackend:hover{
    cursor: pointer;
  }
  /* Når musen er over logo, vis pointer mus og gjøre tydeligheten svakere */
  .Logo_navmeny:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

/* Stor laptop, medium desktop, 1080p */
@media screen and (min-width: 1920px) {
  #default_main {
    column-count: 3; 
  }
  #artikkel4 {
    break-before: column;
  }
}

/* Stor skjerm, 1440p */
@media screen and (min-width: 2560px) {
}

@media print {
  .navTop {
    display: none;
  }
  
  .Logo_forside {
    width: 5em;
  }

  #backend_main article h2 {
    font-size: 1em;
  }

  #backend_main article p {
    font-size: 1em;
  }

  #default_main article h2{
    font-size: 1em;
  }

  #default_main article p {
    font-size: 1em;
  }

  .defaultP {
    font-size: 1em;
  }

  a::after {
    content: " (" attr(href) ") ";
  }

}



/* Denne siden er utviklet av Robin Kleppang, Glenn Petter Pettersen, Aron Snekkestad, Petter Fiskvik & Ajdin Bajrovic, siste gang endret 11.10.2019 */
/* Denne siden er kontrollert av Robin Kleppang, Glenn Petter Pettersen, Aron Snekkestad, Petter Fiskvik & Ajdin Bajrovic, siste gang 11.10.2019 */
